<section id="menu" class="menu-container">
    <h2 class="fontCherryCreamSodaRegular">OUR MENU</h2>

    <div class="menu-items">

        <!-- ITEM 1 -->
        <div class="menu-item">
            <img class="ramen-img" src="assets/img/r1.png" alt="Tonkotsu Ramen">

            <div class="info">
                <h3 class="fontCherryCreamSodaRegular">Tonkotsu Ramen</h3>

                <div class="prices">
                    <div class="row">
                        <span>Classic Tonkotsu</span>
                        <span>11,90 €</span>
                    </div>
                    <div class="row">
                        <span>Chashu Deluxe</span>
                        <span>13,90 €</span>
                    </div>
                    <div class="row">
                        <span>Spicy Tonkotsu</span>
                        <span>12,90 €</span>
                    </div>
                </div>
            </div>
        </div>

        <!-- ITEM 2 (gespiegelt CSS) -->
        <div class="menu-item">
            <img class="ramen-img" src="assets/img/r2.png" alt="Spicy Miso Ramen">

            <div class="info">
                <h3 class="fontCherryCreamSodaRegular">Spicy Miso Ramen</h3>

                <div class="prices">
                    <div class="row">
                        <span>Miso Classic</span>
                        <span>11,50 €</span>
                    </div>
                    <div class="row">
                        <span>Garlic Chili Miso</span>
                        <span>12,90 €</span>
                    </div>
                    <div class="row">
                        <span>Veggie Miso</span>
                        <span>10,90 €</span>
                    </div>
                </div>
            </div>
        </div>

        <!-- ITEM 3 -->
        <div class="menu-item">
            <img class="ramen-img" src="assets/img/r3.png" alt="Shio Ramen">

            <div class="info">
                <h3 class="fontCherryCreamSodaRegular">Shio Ramen</h3>

                <div class="prices">
                    <div class="row">
                        <span>Shio Sea Salt</span>
                        <span>10,90 €</span>
                    </div>
                    <div class="row">
                        <span>Yuzu Shio</span>
                        <span>12,50 €</span>
                    </div>
                    <div class="row">
                        <span>Chicken Shio</span>
                        <span>11,90 €</span>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>