<section class="hto-container">
    <h2 class="fontCherryCreamSodaRegular">HOW TO ORDER</h2>
    <div class="steps">
        <div class="step">
            <img src="assets/img/noodle.png" alt="Pick your noodle" />
            <p>Pick your noodle</p>
        </div>

        <div class="step">
            <img src="assets/img/ramen.png" alt="Pick your broth" />
            <p>Pick your broth</p>
        </div>

        <div class="step">
            <img src="assets/img/topping.png" alt="Add your toppings" />
            <p>Add your toppings</p>
        </div>
    </div>
</section>